<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281819595333-47edugh6bk130fp8s9u2q89hii13dqei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281819595333-47edugh6bk130fp8s9u2q89hii13dqei</string>
	<key>API_KEY</key>
	<string>AIzaSyDw231GnUCxnIS-y2SmDdogQF7waI7eXnw</string>
	<key>GCM_SENDER_ID</key>
	<string>281819595333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vkovalskiyk.Caller</string>
	<key>PROJECT_ID</key>
	<string>caller-c408f</string>
	<key>STORAGE_BUCKET</key>
	<string>caller-c408f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281819595333:ios:ff5582a096ef7a8219d92c</string>
</dict>
</plist>